@import "tailwindcss";

@theme {
  /* Colors */
  --color-background: #01020f;
  --color-primary: #17253f;
  --color-secondary: #29aae1;
  --color-border: #334155;

  --color-text-primary: #e5e7eb;

  --color-success: #22c55e;
  --color-error: #ef4444;

  --color-destructive: #ef4444;
}

:root {
  --color-background: #01020f;
  --color-primary: #17253f;
  --color-secondary: #29aae1;
  --color-border: #334155;

  --color-text-primary: #e5e7eb;

  --color-success: #22c55e;
  --color-error: #ef4444;

  --color-destructive: #ef4444;
}

.shadow-bottom {
  @apply shadow-[0_10px_10px_rgba(0,0,0,0.25)];
}

.shadow-top {
  @apply shadow-[0_-10px_10px_rgba(0,0,0,0.25)];
}

.shadow-card {
  @apply shadow-[10px_10px_10px_rgba(0,0,0,0.25)];
}

@media (display-mode: standalone) {
  .hide-in-standalone {
    display: none;
  }
}

.custom-scroll-container {
  padding-right: 12px;
  overflow-y: auto;
}

.custom-scroll::-webkit-scrollbar {
  width: 6px;
  border-radius: 9999px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: var(--color-border);
  border-radius: 9999px;
}
